.botoes {
    display: flex;
    flex-direction: column;
    grid-area: botao;
    align-items: flex-start;
    justify-content: space-around;
    input {
        height: 50px;
        padding: 10px;
        border-radius: 8px;
        background-image: linear-gradient(to bottom, $cor-2, $cor-3);
        color: $cor-4;
        font-weight: bold;
        transition: .13s;
        &:hover {
            background-image: linear-gradient(to bottom, $cor-3, $cor-2);
            color: $cor-1;
            text-decoration: underline;
        }
    }
}