@import '../Abstract/mixins';
@import '../Abstract/variaveis';

.formulario {
    display: grid;
    grid-template-areas:
        "labels inputs botao";
        column-gap: 10px;
        justify-content: center;
    width: 250px;
    padding: 10px;
    .labels {
        @include caixa-formulario;
        grid-area: labels;
        #sexo {
            margin: 1.1rem 0px;
        }
    }
    .inputs {
        @include caixa-formulario;
        grid-area: inputs;
        align-items: flex-start;
    }
}