@import '../Abstract/mixins';
@import '../Abstract/variaveis';

.formulario {
    display: grid;
    grid-template-areas:
        "labels inputs botao";
        column-gap: 10px;
        justify-content: center;
    width: 250px;
    padding: 10px;
    .labels {
        @include caixa-formulario;
        grid-area: labels;
        #sexo {
            margin: 1.35rem 0px;
        }
    }
    .inputs {
        @include caixa-formulario;
        padding-right: 10px;
        grid-area: inputs;
        align-items: flex-start;
        input {
            border-radius: 8px;
            &:focus {
                background-image: linear-gradient(to right, $cor-3 35%, white 65%);
            }
        }
        border-right: 2px dashed black;
    }
}