.tabela__relatorio {
    border-collapse: collapse;
    border: 1px solid #000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.466);
    text-align: center;
    font-weight: bold;
    th {
        background-color: $cor-1;
        color: $cor-4;
    }
    td, th {
        padding: 5px 15px;
        border: 1px solid #000;
    }
    tr:nth-child(odd) {
        background-color: $cor-2;
    }
    tr:nth-child(even) {
        background-color: $cor-3;
    }
}