@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rowdies:wght@300&display=swap');

$cor-1: #053B50;
$cor-2: #176B87;
$cor-3: #64CCC5;
$cor-4: #EEEEEE;
$fonte-padrao: 'Inter', sans-serif;
$fonte-tamanho: 18px;